<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redspider.pss.mapper.GroupInvolveRecordMapper">
  <resultMap id="BaseResultMap" type="com.redspider.pss.repository.db.entity.GroupInvolveRecord">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="group_team_id" jdbcType="BIGINT" property="groupTeamId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="picture_url" jdbcType="VARCHAR" property="pictureUrl" />
    <result column="flag" jdbcType="TINYINT" property="flag" />
    <result column="creator_id" jdbcType="BIGINT" property="creatorId" />
    <result column="updater_id" jdbcType="BIGINT" property="updaterId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="deleted" jdbcType="TINYINT" property="deleted" />
  </resultMap>
  <sql id="Base_Column_List">
    id, group_team_id, remark, picture_url, flag, creator_id, updater_id, create_time, update_time, deleted
  </sql>
  <insert id="insert" parameterType="com.redspider.pss.repository.db.entity.GroupInvolveRecord">
    insert into group_involve_record (id, group_team_id,
      remark, picture_url, flag,
      creator_id, updater_id, create_time, 
      update_time, deleted)
    values (#{id,jdbcType=BIGINT}, #{groupTeamId,jdbcType=BIGINT},
      #{remark,jdbcType=VARCHAR},#{pictureUrl,jdbcType=VARCHAR},#{flag,jdbcType=TINYINT},
      #{creatorId,jdbcType=BIGINT}, #{updaterId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{deleted,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.redspider.pss.repository.db.entity.GroupInvolveRecord">
    insert into group_involve_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="groupTeamId != null">
        group_team_id,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="pictureUrl != null">
        picture_url,
      </if>
      <if test="flag != null">
        flag,
      </if>
      <if test="creatorId != null">
        creator_id,
      </if>
      <if test="updaterId != null">
        updater_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="groupTeamId != null">
        #{groupTeamId,jdbcType=BIGINT},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="pictureUrl != null">
        #{pictureUrl,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        #{flag,jdbcType=TINYINT},
      </if>
      <if test="creatorId != null">
        #{creatorId,jdbcType=BIGINT},
      </if>
      <if test="updaterId != null">
        #{updaterId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="selectByGroupId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from group_involve_record
    where group_team_id = #{groupId,jdbcType=BIGINT}
    and deleted = 0
    order by update_time desc
    limit #{offset,jdbcType=TINYINT},#{pageSize,jdbcType=TINYINT}
  </select>
</mapper>