<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redspider.pss.mapper.expand.HomePageMapper">

    <!-- 测试联通接口，请勿删除 -->
    <select id="selectNow" resultType="java.util.Date">
        select now()
    </select>
</mapper>