<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redspider.pss.mapper.expand.UserGroupExtMapper">
  <resultMap id="BaseResultMap" type="com.redspider.pss.repository.db.entity.UserGroup">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="group_id" jdbcType="BIGINT" property="groupId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="delete" jdbcType="TINYINT" property="delete" />
    <result column="contract_type" jdbcType="TINYINT" property="contractType" />
    <result column="contract_info" jdbcType="VARCHAR" property="contractInfo" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, group_id, user_id, `delete`, contract_type, contract_info, create_time, update_time
  </sql>
  <select id="listByGroupId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from user_group
    where group_id = #{groupId}  and `delete` = 0
  </select>
  <select id="count" resultType="java.lang.Integer">
    select
    count(id)
    from user_group
    where group_id = #{groupId} and `delete` = 0
  </select>

  <select id="joined" resultType="java.lang.Boolean">
    SELECT EXISTS(SELECT 1 FROM user_group
    WHERE group_id = #{groupId} and `delete` = 0 and user_id = #{userId})
  </select>
  <select id="getByGroupIdAndUserId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from user_group
    where group_id = #{groupId}  and user_id = #{userId}  and `delete` = 0
  </select>
  <select id="selectByGroupId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user_group
    where group_id = #{groupId}
  </select>

  <select id="selectGroupIdsByUserId" parameterType="java.lang.Long" resultType="long">
    select
    group_id
    from user_group
    where user_id = #{userId}
    and `delete` = 0
    order by update_time desc
    limit #{offset,jdbcType=TINYINT},#{pageSize,jdbcType=TINYINT}
  </select>

  <select id="attendeesByGroupId" resultType="com.redspider.pss.vo.user.AttendeeVO">
    select
        ug.user_id userId,
        ub.`name` `name`,
        ug.group_id groupId,
        ug.contract_type `attendeeContactVO.code`,
        ug.contract_info `attendeeContactVO.value`,
        ug.`comment` `comment`,
        ug.`resource_ids` `resourceIds`,
        ub.birthday birthday,
        ub.sex sex,
        ub.avatar avatar,
        ub.slogan slogan
    from user_group ug
    left join user_basic ub on ug.user_id = ub.id
    where ug.`delete` = 0
    and ug.group_id = #{groupId}
  </select>
</mapper>